@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --bdr-grey: rgb(228, 228, 228, 0.6);
    --bdr-grey-light: rgb(228, 228, 228, 0.2);
    --primary-blue: rgb(0, 117, 255);
    --primary-blue-hover: rgb(15, 70, 134);
    --white: rgb(251, 251, 251);

    --blue-bg: rgb(19, 92,175, 0.75);
}

body{
    font-family: 'Inter', 'Helvetica', sans-serif;
    color: var(--white);
    margin: 0px;
}

.main-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(31, 158, 234);
    padding: 32px;
    gap: 64px;
}

form{
    display: flex;
    justify-content: center;
    gap: 4px;
    max-width: 520px; 
    width: 100%;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    background-color: var(--blue-bg);
    border: 1px solid var(--bdr-grey-light);
    border-radius: 6px;
    padding: 8px;
}

.primary-btn{
    padding: 0px 16px;
    font: 400 1rem/1.5rem 'Inter';
    border-radius: 6px;
    border: 0px;
    color: var(--white);
    background-color: var(--primary-blue);
}

.primary-btn:hover{
    cursor: pointer;
    background-color: var(--primary-blue-hover);
}

input{
    padding: 0px;
    border: none;
    background-color: transparent;
    color: var(--white);
    font: 300 1.25rem/1.5rem 'Inter';

}

input::placeholder{
    color: rgb(255, 255, 255, 0.7);
}

input:focus{
    outline: none;
}

.info-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    width: 100%;
    max-width: 640px;
}

.location-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid var(--bdr-grey-light);
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--blue-bg);
    color: var(--white);
}

h3{
    margin: 0px;
}

h5{
    margin: 0px;
}

.temp-switch{
    display: flex;
    background-color: var(--blue-bg);
    border-radius: 8px;
    border: 1px solid var(--bdr-grey-light);
    overflow: hidden;
}

.temp-switch:hover{
    cursor: pointer;
}

.switch-selected,
.switch-unselected{
    padding: 8px;
    height: 40px;
    width: 48px;
    box-sizing: border-box;
    border-radius: 6px;
    font: 700 1rem/1.5rem 'Inter';
    text-align: center;
}

.switch-selected{
    background-color: rgb(255, 255, 255, 0.7);
    color: #4C5A77;
}

.current-temp-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--blue-bg);
    border-radius: 8px;
    border: 1px solid var(--bdr-grey-light);
}

.current-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.divider{
    border: 1px solid var(--bdr-grey);
}

.text-16px{
    font: 400 1rem/1.5rem 'Inter';
}

.current-tempinfo-container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 40px;
}